*{
	box-sizing: border-box;
	font-family: 'PT Serif', serif;
}
.recipe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    background-color: white;
    margin: 20px;
}
.img-item{
    max-height: 20em;
    max-width: auto;
    padding: 0;
}
.recipe-items{
    padding: 10px 20px 10px 20px;
}