.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-item{
    max-height: 300px;
    max-width: 500px;
    padding: 5px;
}
.recipe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding: 5px;
}
label, input{
    margin: 5px;
}
select, button, img{
    margin: 10px;
}
.image-file-upload {
    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 200px;
}

.form-ingredietns {
    display: flex;
    direction: row;
    align-items: center;
}

.form-ingredietns input {
    max-width: 6rem;
}

.form-ingredietns button {
    max-height: 3rem;
}
.add-button{
    padding: 4px 8px 4px 8px;
}
