*{
    margin: 0;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}   
.img-item{
    max-height: 50em;
    max-width: 50em;
    padding: 5px;
}
.recipe-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding: 5px;
    width: 100%;
}
label, input{
    margin: 5px;
}
input{
    border-radius: 4px;
}
select, button, img{
    margin: 10px;
}
.image-file-upload {
    display: inline-block;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    width: 200px;
}
.form-ingredietns {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}
.form-ingredietns input {
    max-width: 6rem;
}
.form-ingredietns button {
    max-height: 3rem;
}
.add-button{
    padding: 4px 8px 4px 8px;
}
textarea{
    width: 40%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
#ingredient-name, #ingredient-quantity, #ingredient-units, #recipe-name{
    box-sizing: border-box;
    min-width: auto;
    padding: 1em;
}
.form-ingredietns{
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-top: 1em;
}
#add-ingredietn{
    display: none;
    width: 100%;
    text-align: center;
}
.caption-text{
    display: block;
    width: 40%;
    align-self: inherit;
    font-size: small;
    line-height: 20px;
}
img:before {
    content: " ";
    display: block;
    height: 128px;
    width: 128px;
    background-repeat: no-repeat;
    background-image: url("defaultImg.png");
} 

