*{
	box-sizing: border-box;
	margin: 0;
	font-family: 'PT Serif', serif;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color:#292929;
    max-height: 20vh;
    color: white;
}
.links-img-items{
    display: inline-block;
    align-items: center;
    padding: 0;
}
.links-img-items li{
    display: inline-block;
    padding-right: 10px;
}
h4{
    padding: 10px 10px; 
}
.social-links-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.instagram-icon, .facebook-icon, .linkedin-icon, .whatsapp-icon{
    width: 100%;
    height: auto;
}
.facebook-icon, .instagram-icon{
    background-color: white;
}






