.filter-menu{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
	margin-top: 2vh;
	padding: 10px 20px 10px 20px;
}
button{
	font-weight: 500;
	color: white;
	text-decoration: none;
	background-color: black;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	font-size: large;
	max-height: 8vh;
	padding: 10px 20px 10px 20px;
}
button:hover{
	background-color: rgb(206, 84, 53);
}

