.update-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px;
}
h2{
    text-transform: uppercase;
}
.img-item{
    max-height: 300px;
    max-width: 500px;
    padding: 5px;
}