@import url('https://fonts.googleapis.com/css?family=PT+Serif|Shadows+Into+Light&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	font-family: 'PT Serif', serif;
}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color:#292929;
	max-height: 10vh;
	color: white;
	box-shadow: 0 5px 10px -5px #000;
	position: fixed;
	width: 100%;
}

.menu-item{
	max-height: 10vh;
}

.logo-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 10vh;
}
h3{
	padding: 5px 20px;
	margin: 0;
	width: 10em;
	text-shadow: 2px 2px 4px #000000;
}
.image-item{
	width: auto;
	max-height: 10vh;
}

.filter-menu li{
	display: inline-block;
	padding: 20px 50px 0px 20px;
}

button{
	font-weight: 500;
	font-size: medium;
	color: white;
	text-decoration: none;
	background-color: black;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 10px 20px 10px 20px;
	font-size: large;
	max-height: 8vh;
}

