@import url('https://fonts.googleapis.com/css?family=PT+Serif|Shadows+Into+Light&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	font-family: 'PT Serif', serif;
}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background-color: aqua;
	max-height: 20vh;
}

.menu-item{
	text-decoration: none;
}

.logo-item{
	cursor: pointer;
	font-size: x-large;
}

.filter-menu li{
	display: inline-block;
	padding: 20px 50px 0px 20px;
}

button{
	font-weight: 500;
	font-size: medium;
	color: white;
	text-decoration: none;
	background-color: black;
	border: none;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	padding: 10px 20px 10px 20px;
	font-size: large;
}

